@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

/**
#f1fa3c amarelo
#851de0 roxo
#61f2f5 azul
*/

body{
   
}

main{
    background-color: #fbfbfb;
    display: flex;
    padding: 50px;
    box-shadow: 0 0 1em #222831;
}

header h1{
    font-size: 3em;
    color: black;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.divFlexs{
    flex: 3;
    margin: 2%;
    height: 35rem;
    border: 2px solid #61f2f5;
    text-align: center;
    box-shadow: 0 0 1em #c8cfd9;
}

.divFlexs:hover{
    border: 2px dashed #61f2f5;
}

a.btns{
    padding: 3% 5%;
    display: inline-block;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 99%;
    background-color: #5c149b;
    box-shadow: 0 0 1em #222831;
    font-family: 'Londrina Solid', cursive;
}

a.btns:hover{
    /*transform: skew(-20deg);*/
    background-color: #17ecf0;
}

#divMap{
    background-image: url("imgs/imgMapFtnt.png");
    background-position: center;
    background-repeat: no-repeat;
}

#divPouso{
    background-image: url("imgs/imgpouso.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

#divPontosMap{
    background-image: url("imgs/imgpontosdomapa.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

div#container{
    margin: 5% 0;
}

div#container h2{
    font-size: 3em;
}

div#container h2, div#container p:first-of-type, div#container p:nth-of-type(3) {
    font-family: 'Mukta', sans-serif;
    margin: 0 7%;
}

div#container p:first-of-type, div#container p:nth-of-type(3){
    font-size: 1.2em;
}


p#pImg1{
    background-image: url("imgs/fundo2p.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

p#pImg3{
    background-image: url("imgs/fundo3p.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.elementRight {
    text-align: right;
}


/*FOOTER*/

footer{
    height: auto;
    background-color: #5c149b;
    box-shadow: 0 0 1em #222831;
    margin: 0;
    color: white; 
}

footer p{
    text-align: center;
    padding: 2% 0;
    font-size: 1.1em;
}

nav#menuFooter ul li{
    list-style: none;
    font-family: 'Londrina Solid', cursive;
    margin-bottom: 2px;
}

nav#menuFooter{
    font-family: 'Londrina Solid', cursive;
    display: flex;
    padding-top: 5%;
}

.divFlexsFooter{
    flex: 2;
    text-align: center;
}

nav#menuFooter ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav#menuFooter ul li a:hover{
    color: #17ecf0;
    padding: 5px;
}

div#logoFooter{
   border-left: 1px solid #17ecf0;

}


