@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

/**
#f1fa3c amarelo
#851de0 roxo
#61f2f5 azul
*/

main{
    background-color: #fbfbfb;
    display: flex;
    padding: 50px;
}

header h1{
    font-size: 3em;
    color: black;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.divFlexs{
    flex: 3;
    margin: 2%;
    height: 35rem;
    border: 2px solid #61f2f5;
    text-align: center;
    
}

a.btns{
    padding: 3% 5%;
    background-color: #851de0;
    display: inline-block;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 5%;
    box-shadow: 0 0 1em #f1f1f1;
    font-family: 'Londrina Solid', cursive;
}

